.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background: #14948a;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
}

.navbaroverlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e9689cc;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.open .navbaroverlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbaroverlay {
    display: none;
  }
}

.navbarburger,
.navbarmenu button {
  padding: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.navbarburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
}

@media only screen and (min-width: 600px) {
  .navbarburger {
    display: none;
  }
}

.navbartitle {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.navbarmenu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: translate 0.3s;
  height: 100%;
  width: 100%;
}

.open .navbarmenu {
  translate: 0 0;
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .navbarmenu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }
}

.navbarmenu > button {
  background: transparent;
  padding: 0 8px;
}

.navbarmenu > button.active {
  color: inherit;
}

.navbarmenu > .nav-item.nav-link {
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  text-decoration: none;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.navbarmenu > .nav-item.nav-link.login-cta {
  border: 1px solid #26c6b9;
  border-radius: 50px;
  padding: 4px 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.gg-menu-left {
  transform: scale(var(--ggs, 1));
}

.gg-menu-left,
.gg-menu-left::after,
.gg-menu-left::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}

.gg-menu-left::after,
.gg-menu-left::before {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
}

.gg-menu-left::after {
  top: 6px;
  width: 14px;
}

.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}

.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.gg-close::after {
  transform: rotate(-45deg);
}
